{% extends "base.html" %} {% block head %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'js/validate.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'js/form.js') }}"
></script>
{% endblock %} {% block title %}Add Decks{% endblock %} {% block body_content %}
<div
  class="container w-50 bg-light bg-gradient border border-3 rounded-3 shadow"
  style="margin-top: 30px"
>
  <h1>Add Deck</h1>
  <br />
  <form>
    <div class="mb-3">
      <label class="form-label" for="deck_name">Deck name</label>
      <div class="">
        <input
          class="form-control"
          id="deck_name"
          name="deck_name"
          required
          type="text"
          placeholder="example: Japanese"
        />
      </div>
    </div>
    <div>
      <input
        type="submit"
        value="Add"
        class="btn btn-primary"
        onclick="return validate_deckname()"
      />
    </div>
  </form>
  <br />
  <div
    id="add_deck_success"
    class="alert alert-success"
    role="alert"
    style="display: none"
  >
    Deck added successfully :)
  </div>

  <div
    id="add_deck_error"
    class="alert alert-danger"
    role="alert"
    style="display: none"
  ></div>
</div>
<script type="text/javascript">
  active_add_decks();
  add_deck();
</script>
{% endblock %}
