{% extends "base.html" %} {% block head %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'js/deck_selected.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'js/form.js') }}"
></script>
{% endblock %} {% block title %}Add Cards{% endblock %} {% block body_content %}
<div
  class="container w-50 bg-light bg-gradient border border-3 rounded-3 shadow"
  style="margin-top: 30px"
>
  {% if current_user.decks == [] %}
  <h1>There are no decks added, add decks now!</h1>
  {% else %}
  <h1>Add Card</h1>
  <br />
  <form>
    <div class="mb-3">
      <label class="form-label" for="deck_name">Deck Name</label>
      <select
        class="form-select"
        aria-label="Default select example"
        name="decklist"
        id="decklist"
      >
        <option value="-1">Select a Deck</option>
        {% for deck in current_user.decks %}
        <option value="{{ deck.deck_id }}">{{ deck.deck_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="front">Front</label>
      <div class="">
        <input
          class="form-control"
          id="front"
          name="front"
          required
          type="text"
          placeholder="example: Good morning"
        />
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="back">Back</label>
      <div class="">
        <input
          class="form-control"
          id="back"
          name="back"
          required
          type="text"
          placeholder="example: おはようございます"
        />
      </div>
    </div>
    <div>
      <input
        type="submit"
        value="Add"
        class="btn btn-primary"
        onclick="return check_deck_selected();"
      />
    </div>
  </form>
  <br />
  {% endif %}
  <div
    id="add_card_success"
    class="alert alert-success"
    role="alert"
    style="display: none"
  >
    Card added successfully :)
  </div>

  <div
    id="add_card_error"
    class="alert alert-danger"
    role="alert"
    style="display: none"
  ></div>
</div>
<script type="text/javascript">
  active_add_cards();
  add_card();
</script>
{% endblock %}
