{% extends "base.html" %} {% block head %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'js/delete.js') }}"
></script>
{% endblock %} {% block title %}Cards{% endblock %} {% block body_content %} {%
if cards == [] %}
<div
  class="container w-50 bg-light bg-gradient border border-3 rounded-3"
  style="margin-top: 30px"
>
  <h1>There are no cards added, add cards now!</h1>
</div>
{% else %}
<div class="container w-75" style="margin-top: 30px">
  <h1>{{ deck_name }}</h1>
  <br />
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 30px">
    {% set i = namespace(value=1) %}{% for card in cards %}
    <div class="col">
      <div
        id="{{ card.card_id }}"
        class="card border-danger shadow"
        style="width: 18rem"
      >
        <div class="card-header">Card {{ i.value }}</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ card.front }}</li>
          <li class="list-group-item">{{ card.back }}</li>
          <li class="list-group-item">
            <a
              href="#"
              class="card-link"
              data-deck_id="{{ deck_id }}"
              data-deck_name="{{ deck_name }}"
              data-card_id="{{ card.card_id }}"
              onclick="delete_card(event);"
              >Delete</a
            >
          </li>
        </ul>
      </div>
    </div>
    {% set i.value = i.value + 1 %} {% endfor %}
  </div>
</div>
{% endif %} {% endblock %}
