{% extends "base.html" %} {% block title %}Dashboard{% endblock %}} {% block
body_content %}

<div
  class="container bg-gradient w-auto border border-3 rounded-3 shadow"
  style="margin-top: 60px; margin-bottom: 60px"
>
  {% if current_user.decks == [] %}
  <h1>There are no decks added, add decks now!</h1>
  {% else %}
  <h1 style="text-align: center">Dashboard</h1>
  <br />
  <table class="table table-hover" style="text-align: center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Deck Name</th>
        <th scope="col">Time of last review</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% set i = namespace(value=1) %} {% for deck in current_user.decks %}
      <tr>
        <th scope="row">{{ i.value }}</th>
        <td>{{ deck.deck_name }}</td>
        <td>{{ deck.last_review_time }}</td>
        <td>{{ deck.total_score }}</td>
      </tr>
      {% set i.value = i.value + 1 %} {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
<script type="text/javascript">
  active_dashboard();
</script>
{% endblock %}
